/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header {
    text-align: center;
    background-color: rgb(244, 151, 39);
    border: 70px solid rgb(244, 151, 39);
    border-radius: 2%;
    font-size: 60px;
    font-style:italic;
}

